#button-box, #final-result{
    display: none;
}
.life-wheel{
    pointer-events:none
}
/* .life-wheel:hover{color:red;} */

#wheel-of-life{
    width: 600px;
}

@media(max-width: 768px){
    #wheel-of-life{
        width: 400px;
    }
    /* .pagination{
        width: 70%;
        margin-left: 15%;
    } */
}