.headerLogo {
    /* padding-top: -50px !important; */
    /* margin-top: -30px; */
    /* margin-bottom: 20px; */
    /* z-index: 0; */
}

.explorSec {
    /* margin-bottom: 0 !important; */
    padding-bottom: 0 !important;
}

/* CLIENTS START */
.clients {
    padding: 50px 0px 50px 0px;
}

.client-heading {
    font-family: "Open Sans", sans-serif !important;
}

.blue {
    color: #003a78;
    text-align: center;
}

/* SLICK START */
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    /* margin: 50px 0px; */
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* SLICK ENDS */







.name,
.email,
.phone,
.text,
.btn-bg {
    border: none;
    width: 60% !important;
    padding: 10px 0;
}

.btn-bg {
    background: #003a78 !important;
}

form.h1text {
    font-size: 0.9rem !important;
}


@media (max-width: 410px) {

    .name,
    .email,
    .phone,
    .text,
    .btn-bg {
        width: 80% !important;
    }
}











/* CLIENTS ENDS */

footer {
    color: white;
}

.footer p {
    font-size: 0.8rem;
}

.footer a {
    color: white;
}

.social {
    padding-top: 9px;
    width: 40px !important;
    height: 40px !important;
    display: inline-block;
    color: white !important;
    border-radius: 50%;
    background: #058feb;
}

.fb:hover {
    color: white !important;
    background: rgb(12, 1, 160);
}

.in:hover {
    color: white !important;
    background: rgb(47, 65, 230);
}






/* TRANSLATION SERCIVES PAGE */
.languages_header {
    /* margin: 60px 0px 0px 0px; */
    background-image: url("../img/lang_bg.jpg");
    box-shadow: inset 0 0 0 2000px rgba(57, 85, 111, 0.8);
}

.lang_header_sec1 {
    /* margin: 0px 0px 60px 0px; */
    color: #ffffff;
    padding-top: 30px;
}

.lang_title {
    /* margin-top: 0.5rem; */
    font-size: 1.5rem !important;
}

@media screen and (min-width: 768px) {
    .dropdown:hover>.dropdown-menu {
        display: block;
    }
}

.flag {
    width: 50px;
}

.lang_section {
    /* margin: 100px 0px 100px 0px; */
}

.header_lang .form-group {
    margin-bottom: 0.2rem !important;
}

.check_bulltes {
    padding-left: 20px;
    list-style: none;
}

.check_bulltes li:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f00c';
    margin: 0 10px 0 -15px;
    color: #fff;
}

.check_bulltes_why {
    padding-left: 20px;
    list-style: none;
}

.check_bulltes_why li:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f00c';
    margin: 0 10px 0 -15px;
    color: #225470;
}

.about_check_bulltes {
    padding-left: 20px;
    list-style: none;
}

.about_check_bulltes li:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f00c';
    /* margin: 0 10px 0 -15px; */
    color: #225470;
}

.why_row {
    /* margin-top: 3rem; */
}

.form_div {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.2)
}

.contact_us_sec {
    text-align: center;
    /* margin: 5rem 0; */
}

.about_us_content h2 {
    /* margin: 5rem 0 2rem 0; */
}

.about_us_content {
    text-align: left;
}